<!-- Smart Wizard -->

<div class="row">
    <div class="col-md-12" >
        <div class="col-md-12">
            <div id="wizard" class="form_wizard wizard_horizontal">
                <!-- 2 LEVEL PRF ATAU REQUEST DIATAS 5 JT-->
                <ul class="wizard_steps">
                    <li>
                        <a class="{{approverStatus.0}}" href="#" style="width:85%">
                            <span class="step_no">1</span>
                            <span class="step_descr" >{{approverName.0}}<br/>
                                <small></small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="{{approverStatus.1}}" href="#" isdone="1" rel="1">
                            <span class="step_no">2</span>
                            <span class="step_descr"> {{approverName.1}}<br/>
                                <small></small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="{{approverStatus.2}}" href="#" isdone="1" rel="1">
                            <span class="step_no">3</span>
                            <span class="step_descr"> {{approverName.2}}<br/>
                                <small></small>
                            </span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<!-- End SmartWizard Content -->