{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="icon" href="{% static 'helpdesk/images/favicon.ico' %}" type="image/ico" />
    
        <title>Helpdesk </title>
    
        <!-- Bootstrap -->
        <link href="{% static 'helpdesk/css/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'helpdesk/css/font-awesome/font-awesome.min.css' %}" rel="stylesheet">
    
    
        <!-- bootstrap-daterangepicker -->
        <link href="{% static 'helpdesk/css/daterangepicker/daterangepicker.css' %}" rel="stylesheet">
    
        <!-- Custom Theme Style -->
        <link href="{% static 'helpdesk/css/css/custom.min.css' %}" rel="stylesheet">
    
      </head>
    
  <body class="login">
 

    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible " role="alert" {% endif %}>
        <strong style="text-transform:uppercase">{{message.tags}} :</strong> {{ message }}.
    </div>
    {% endfor %}
    {% endif %}


    <div>  

      <div class="login_wrapper" style="margin-top: 4%;">
        <div class="animate form login_form">
            
          <section class="login_content">
 

            <form method="POST" action="{% url 'resetPassword' %}">
                <input type="hidden" name="next" value="{{ request.GET.next }}" >

                {% csrf_token %}
              <h2 style="font-size:17px">Reset Password</h2>
              <div>
                <input type="text" name="email" class="form-control" placeholder="Email" required="" />
              </div> 
              
              <div>
             
                <button onclick="location.href='{% url "index" %}'" class="btn btn-primary" type="button">Back</button>
                <button class="btn btn-default submit" href="index.html">Submit</button>
              </div>
                
              </div>
            </form>
          </section>
        </div>

      </div>
    </div>
    
  </body>
</html>
